<div class="container">
  <div class="row" style="padding-top: 30px;">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
      <%= link_to "Poser une nouvelle question", new_question_path, class:"btn revote" %>
      <%# end %>
    </div>
  </div>
  <% if @questions != nil %>
    <div class="row">
      <div class="col-xs-12" id="listequestion" style="padding-top: 20px;">
        <% @questions.order(updated_at: :desc).each do |question|  %>
        <%= render "question", question: question, user_is_question_author: question.user == current_user || current_user.admin? %>
        <% end  %>
      </div>
    </div>
      <%= link_to "Retourner aux questions", questions_path, class:"btn revote" %>
  </div>
<% end  %>
