<div class="container" id="listedocs">
<h1>Nos documents de références</h1>
<h2><a href="https://docs.google.com/forms/d/e/1FAIpQLSe49c96aOv62ZEKOhuLTVHDxC58iRe6IyOpqauFen4vrFv3zg/viewform?usp=sf_link">Qu'est ce qu'un bon titre ?</a></h2>

<h2><a href="https://docs.google.com/document/d/1AkZ7usqbc_nCixA4n6nOaX2Aud8-Cyt1pOVXxe-nwVw/edit?usp=sharing">Quand publier/pusher une story</a>(<a href="https://drive.google.com/file/d/1WBAcRFVhl6Dn7e8PSsJ-2UGgneUKml0T/view?usp=sharing">la prez de Mohamed</a></h2>

<h2><a href="https://docs.google.com/document/d/10YIZDLaOQpiXzU499pVpm8onfjE9s9hj1u6MJRYJ5Fg/edit">Les stories : definitions of done</a></h2>
<h2><a href="https://docs.google.com/forms/d/e/1FAIpQLSeKsye0CO63Yqg1liNFb5G70bbBPvoM6hD9VJ07UHLn9kh49Q/viewform?usp=sf_link">Est-ce que mon papier mérite le slug "enquête" ?</a></h2>
</div>
